* {
    margin: 0; 
    padding: 0;
}

html {
    background-color: black;
    color: white;
}

nav {
    position: fixed;
    top: 0;
    background-color: black;
    width: 100%;
    z-index: 1;
}

.navLinks {
    display: inline;
    list-style-type: none;
    padding: 30px;
    margin-right: 60px;
    float: right;
}

a {
    color: white;
    text-decoration: none;
}

img.oneHundred {
    width: 100%;
}

footer.home {
    position: absolute;
    clear: both;
    background-color: black;
    width: 100%;
    text-align: center;
    bottom: -2280px;
}

footer.home > p {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
    background-color: black;
    color: white;
}

footer.events-list {
    position: absolute;
    background-color: black;
    width: 100%;
    text-align: center;
    bottom: -2580px;
}

footer.events-list > p {
    padding-top: 20px;
    padding-bottom: 30px;
    font-size: 20px;
    background-color: black;
    color: white;
}

footer.importantNotice {
    position: absolute;
    clear: both;
    background-color: black;
    width: 100%;
    text-align: center;
    bottom: -700px;
    padding-bottom: 30px;
}

footer.importantNotice {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
    background-color: black;
    color: white;
}

footer.menu {
    position: absolute;
    clear: both;
    background-color: black;
    width: 100%;
    text-align: center;
    bottom: -2150px;
    padding-bottom: 30px;
}

footer.menu > p {
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 20px;
    background-color: black;
    color: white;
}

footer.team {
    position: absolute;
    bottom: -1550px;
    background-color: black;
    width: 100%;
    text-align: center;
    padding: 30px;
}

footer.team > p {
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 20px;
    background-color: black;
    color: white;
}

h1.home {
    margin-top: 80px;
    text-align: center;
    padding: 300px;
    font-size: 100px;
}

h1.menu {
    margin-top: 80px;
    text-align: center;
    font-size: 100px;
    color: black;
}

ul.menu-links {
    font-size: 50px;
    text-align: center;
}

ul.menu-links li a{
    color: black;
}

span {
    padding-left: 30px;
}

section#appetizers > div > ul > li, section#entrees > ul > li, section#soupsAndSalads > ul > li, section#sides > ul > li, section#beverages > ul > li, section#desserts > ul > li {
    padding: 15px;
}

section#appetizers > div > ul, section#entrees > ul, section#soupsAndSalads > ul, section#sides > ul, section#beverages > ul, section#desserts > ul {
    list-style-type: none;
}

section#appetizers > h2, section#entrees > h2, section#soupsAndSalads > h2, section#sides > h2, section#beverages > h2, section#desserts > h2 {
    margin-bottom: 30px;
}   


section#appetizers {
    margin-top: 50px;
    font-size: 30px;
    margin-left: 500px;
    float: left;
    margin-bottom: 110px;
}

section#entrees {
    margin-top: 50px;
    font-size: 30px;
    margin-right: 500px;
    float: right;
    clear: right;
}

section#soupsAndSalads {
    margin-top: 50px;
    font-size: 30px;
    margin-left: 500px;
    float: left;
    clear: left;
    margin-bottom: 160px;
}

section#sides {
    margin-top: 50px;
    font-size: 30px;
    margin-right: 350px;
    float: right;
    clear: right;

}

section#beverages {
    margin-top: 50px;
    font-size: 30px;
    margin-left: 500px;
    float: left;
    clear: left;
}

section#desserts {
    margin-top: 50px;
    font-size: 30px;
    margin-right: 410px;
    float: right;
    clear: right;
}

section#concerns {
    clear: both;
    text-align: center;
    font-size: 30px;
}

section#home {
    background-image: url("../images/home.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

section#menu {
    background-image: url("../images/burgerAndFries.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

table {
    background-color: black;
}

td > a.menu-link {
    z-index: 0;
    position: absolute;
    top: 1150px;
    left: 350px;
    font-size: 80px;
}

td > a.reservations-link {
    z-index: 0;
    position: absolute;
    top: 1150px;
    right: 200px;
    font-size: 80px;
}

td > a.events-link {
    z-index: 0;
    position: absolute;
    top: 1850px;
    left: 330px;
    font-size: 80px;
}

td > a.team-link {
    z-index: 0;
    position: absolute;
    top: 1850px;
    right: 350px;
    font-size: 80px;
}

div.form-container {
    width: auto;
    text-align: center;
    height: 300px;
    padding: 30px;
    padding-top: 70px;
    font-size: 50px;
    background-color: white;
    color: black;
    /* border: 2px solid red; */
}

div > form > input[type=email] {
    font-size: 50px;
    margin-top: 30px;
    text-align: left;
    padding: 30px;
}

div > form > input[type=submit] {
    font-size: 40px;
    padding: 30px;
    border-radius: 30px;
    font-weight: bold;
}

div > form > input[type=submit]:hover {
    cursor: pointer;
    background-color: black;
    color: white;
}

form#reservations-form{
    margin-top: 100px;
    background-color: white;
    color: black;
    padding: 20px;
    width: 500px;
    text-align: center;
    margin-left: 36.5%;
    border: 20px groove green;
}

h1.reservations-h1 {
    margin-top: 80px;
    font-size: 50px;
    text-align: center;
    padding: 200px;
    background-image: url("../images/events.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

form#reservations-form {
    position: relative;
    top: -40px;
}

form#reservations-form > label {
    font-size: 30px;
    text-align: center;
}

form#reservations-form > input {
    font-size: 30px;
    display: block;
    text-align: center;
}

form#reservations-form > input[type="text"], form#reservations-form > input[type="submit"], form#reservations-form > input[type="date"], form#reservations-form > input[type="number"], form#reservations-form > input[type="time"] {
    width: 500px;
    margin: 15px 0px; 
}

form#reservations-form > input[type="submit"] {
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 30px;
    border: 5px solid green;
    border-radius: 60px;
}

form#reservations-form > input[type="submit"]:hover {
    background-color: green;
    color: black;
    cursor: pointer;
    border: 5px solid black;   
}

h2.notice {
    font-size: 50px;
    padding-top: 30px;
}
p.notice {
    font-size: 30px;
    padding-bottom: 60px;
}

h2.notice, p.notice {
    text-align: center;
    margin-top: 30px;
}

section.notice {
    background-color: white;
    color: black;
}

div.pastry > figure > img {
    width: 400px;
    float: left;
    /* clear: both; */
    margin-top: 30px;
    border: 10px solid green;
    margin-left: 100px;
}

div.general > figure > img {
    width: 400px;
    float: left;
    /* clear: both; */
    margin-top: 30px;
    border: 10px ridge green;
    margin-left: 100px;
    margin-bottom: 50px;
}

div.assistant > figure > img {
    width: 400px;
    float: left;
    /* clear: both; */
    margin-top: 30px;
    border: 10px solid green;
    margin-left: 100px;
}

h1.team {
    margin-top: 100px;
    background-color: white;
    color: black;
    text-align: left;
    border: 5px ridge green;
    width: 1450px;
}

figcaption.general {
    position: absolute;
    top: 510px;
    left: 250px;
}

figcaption.assistant {
    position: absolute;
    top: 510px;
    left: 780px;
}

figcaption.pastry {
    position: absolute;
    top: 510px;
    left: 1300px;
}

figcaption.food {
    position: absolute;
    top: 880px;
    left: 250px;
}

figcaption.cook {
    position: absolute;
    top: 880px;
    left: 780px;
}

figcaption.server {
    position: absolute;
    top: 880px;
    left: 1320px;
}

figcaption.host {
    position: absolute;
    top: 1250px;
    left: 250px;
}

figcaption.hostess {
    position: absolute;
    top: 1250px;
    left: 780px;
}

figcaption.dishwasher {
    position: absolute;
    top: 1250px;
    left: 1320px;
}

h1.team {
    margin-left: 100px;
    font-size: 50px;
}

body > section.job-title-descriptions > h2 {
    margin-left: 500px;
    top: 1400px;
}

section.job-title-descriptions {
    clear: both;
    margin-left: 300px;
}

section.job-title-descriptions > h2 {
    position: absolute;
    top: 1450px;
    left: 200px;
    font-size: 30px;
}

section.job-title-descriptions > div.general > ul {
    position: absolute;
    top: 1490px;
    left: 200px;
    font-size: 25px;
}

section.job-title-descriptions > div.assistant > ul {
    position: absolute;
    top: 1490px;
    left: 700px;
    font-size: 25px;
}

section.job-title-descriptions > div.pastry > ul {
    position: absolute;
    top: 1490px;
    left: 1250px;
    font-size: 25px;
}

section.job-title-descriptions > div.food > ul {
    position: absolute;
    top: 1790px;
    left: 200px;
    font-size: 25px;
}

section.job-title-descriptions > div.cook > ul {
    position: absolute;
    top: 1790px;
    left: 700px;
    font-size: 25px;
}

section.job-title-descriptions > div.server > ul {
    position: absolute;
    top: 1790px;
    left: 1250px;
    font-size: 25px;
}

section.job-title-descriptions > div.host > ul {
    position: absolute;
    top: 2100px;
    left: 200px;
    font-size: 25px;
}

section.job-title-descriptions > div.hostess > ul {
    position: absolute;
    top: 2100px;
    left: 700px;
    font-size: 25px;
}

section.job-title-descriptions > div.dishwasher > ul {
    position: absolute;
    top: 2180px;
    left: 1250px;
    font-size: 25px;
}

section.job-title-descriptions > div > ul {
    list-style-type: none;
}

section.job-title-descriptions > div > ul > li {
    padding: 5px;
}

h1.events {
    margin-top: 100px;
    text-align: center;
    font-size: 50px;
}

img.bbq {
    margin-top: 20px;
    margin-left: 450px;
    border: 5px dashed #FFC300;
    border-radius: 60px;
}

h2.interview {
    font-size: 40px;
    text-align: center;
    margin-top: 30px;
}

iframe {
    float: left;
    margin-left: 250px;
    margin-top: 30px;
    border: 5px ridge green;
}

iframe.cooking-tips {
    margin-left: 660px;
}

section.cooking-tips {
    clear: both;
}

h2.cooking-tips {
    font-size: 40px;
    text-align: center;
    padding-top: 30px;
}

section.events-list {
    clear: both;
}

h2.events-list {
    font-size: 40px;
    text-align: center;
    padding-top: 30px;
}

dl {
    border: 5px solid green;
    margin-top: 30px;
    margin-left: 200px;
    border-collapse: collapse;
    background-color: white;
    color: black;
    width: 1500px;
}
dt, dd {
    padding: 20px;
    font-size: 30px;
}

dt {
    float: left;
    font-weight: bold;
    border: 5px solid green;
}

dd {
    border: 5px solid green;
    text-align: center;
}

table.events {
    border: 5px solid green;
    margin-top: 30px;
    margin-left: 590px;
    padding: 30px;
    border-collapse: collapse;
    background-color: white;
    color: black;
}

tr.events > td, tr.events > th {
    padding: 10px;
    border: 5px solid green;
    text-align: center;
}

tr.events :nth-child(1) {
    font-size: 20px;
    font-weight: 600;   
}

tr.events :nth-child(2) {
    font-size: 20px;
}

tr.events > th {
    font-weight: bold;
    font-size: 30px;
}

