* {
    margin: 0; 
    padding: 0;
}

html {
    background-color: black;
    color: white;
}

nav {
    position: fixed;
    top: 0;
    background-color: black;
    width: 100%;
    z-index: 1;
}

.navLinks {
    display: inline;
    list-style-type: none;
    padding: 30px;
    margin-right: 60px;
    float: right;
}

a {
    color: white;
    text-decoration: none;
}

img.oneHundred {
    width: 100%;
}

footer {
    position: absolute;
    clear: both;
    background-color: black;
    width: 100%;
    text-align: center;
    bottom: -1720px;
}

footer > p {
    color: white;
    padding: 10px;
    font-size: 20px;
    background-color: black;
}

h1.home {
    margin-top: 80px;
    text-align: center;
    padding: 300px;
    font-size: 100px;
}

h1.menu {
    margin-top: 80px;
    text-align: center;
    font-size: 100px;
}

ul.menu-links {
    font-size: 50px;
    text-align: center;
}

span {
    padding-left: 30px;
}

section#appetizers > div > ul > li, section#entrees > ul > li, section#soupsAndSalads > ul > li, section#sides > ul > li, section#beverages > ul > li, section#desserts > ul > li {
    padding: 10px;
}

section#appetizers > div > ul, section#entrees > ul, section#soupsAndSalads > ul, section#sides > ul, section#beverages > ul, section#desserts > ul {
    list-style-type: none;
}

section#appetizers {
    margin-top: 50px;
    font-size: 30px;
    margin-left: 500px;
    float: left;
    margin-bottom: 110px;
}

section#entrees {
    margin-top: 50px;
    font-size: 30px;
    margin-right: 500px;
    float: right;
    clear: right;
}

section#soupsAndSalads {
    margin-top: 50px;
    font-size: 30px;
    margin-left: 500px;
    float: left;
    clear: left;
    margin-bottom: 160px;
}

section#sides {
    margin-top: 50px;
    font-size: 30px;
    margin-right: 350px;
    float: right;
    clear: right;

}

section#beverages {
    margin-top: 50px;
    font-size: 30px;
    margin-left: 500px;
    float: left;
    clear: left;
}

section#desserts {
    margin-top: 50px;
    font-size: 30px;
    margin-right: 410px;
    float: right;
    clear: right;
}

section#concerns {
    clear: both;
    text-align: center;
    font-size: 30px;
}

section#home {
    background-image: url("https://i.picsum.photos/id/141/2048/1365.jpg?hmac=xcZmN-VINP95YwmI3AXCTIxfzd61fhaczQmodKQjLbY");
    background-size: 100%;
    background-repeat: no-repeat;
}

section#menu {
    background-image: url("https://i.picsum.photos/id/141/2048/1365.jpg?hmac=xcZmN-VINP95YwmI3AXCTIxfzd61fhaczQmodKQjLbY");
    background-size: 100%;
    background-repeat: no-repeat;
}

table {
    background-color: black;
}

td > a.menu-link {
    z-index: 0;
    position: absolute;
    top: 1150px;
    left: 350px;
    font-size: 80px;
}

td > a.reservations-link {
    z-index: 0;
    position: absolute;
    top: 1150px;
    right: 200px;
    font-size: 80px;
}

td > a.events-link {
    z-index: 0;
    position: absolute;
    top: 1850px;
    left: 330px;
    font-size: 80px;
}

td > a.team-link {
    z-index: 0;
    position: absolute;
    top: 1850px;
    right: 350px;
    font-size: 80px;
}

div.form-container {
    width: auto;
    text-align: center;
    height: 300px;
    padding: 30px;
    padding-top: 70px;
    font-size: 50px;
    background-color: white;
    color: black;
    /* border: 2px solid red; */
}

div > form > input[type=email] {
    font-size: 50px;
    margin-top: 30px;
    text-align: left;
    padding: 30px;
}

div > form > input[type=submit] {
    font-size: 40px;
    padding: 30px;
    border-radius: 30px;
    font-weight: bold;
}

div > form > input[type=submit]:hover {
    cursor: pointer;
    background-color: black;
    color: white;
}
